<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../style/style.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>

<body>
    <div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
        <div class="rounded-3 m-3 card border-primary  text-dark " style="width: 24rem;">
            <img src="https://cdn.pixabay.com/photo/2016/11/29/13/20/balloons-1869790_960_720.jpg"
                style="height:12em; object-fit: cover;" class="card-img-top" alt="...">
            <div class="card-body">
                <h2>Title</h2>
                <p>This is the description of the event</p>
                <p>49 USD</p>
                <button class="btn btn-primary">See more</button>
            </div>
        </div>
        <br>
        <div class="card" style="width: 18rem;">
            <div class="card-header text-primary fw-bold">
            List of participants
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Jonathan</li>
              <li class="list-group-item">Lilian</li>
              <li class="list-group-item">Kevin</li>
            </ul>
          </div>
          <br>
            <div class="card border-primary rounded-3 m-3" style="width: 24rem;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://images.unsplash.com/photo-1534804101463-987ef0c79d54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img rounded-3" alt="..." style="object-fit: cover; height: 100%;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-primary">Paris</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
  
    </div>
</body>

</html>